#p-ofertas {
    display: grid;
    grid-template-areas: 
    "header"
    "titulo"
    "productos"
    "footer";
    grid-template-rows: auto 50px 1fr 30px;
    height: 100vh;
}

.header-ofertas {
    grid-area: header;
}

.titulo-ofertas {
    grid-area: titulo;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.card-ofertas {
    grid-area: productos;
}

@media (min-width: 768px) {
    .card-ofertas {
        @include grid-center;
        grid-template-columns: 300px 300px;
        grid-template-rows: 380px 380px;      
    }
}

@media (min-width: 1200px) {
    .card-ofertas {
        grid-template-areas: 
        "card card card card";
        grid-template-rows: 1fr;
        grid-template-columns: 300px 300px 300px 300px;
    }
}

.card {
    margin-bottom: 10px;
}

.footer-ofertas {
    grid-area: footer;
    text-align: center;
    background-color: $color-primario;
    color: white;
}